/* Reset CSS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Inter", sans-serif;
    background-color: #0e0e0e;
    line-height: 1.6;
    overflow-x: hidden;
}
header{
    padding: 1.5rem 3rem;
    border-bottom: 1px solid #222;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}
.menu{
    list-style: nome;
    display: flex;
    gap: 2rem;
}
.menu, li, a{
    color: #bbb;
    text-decoration: none;
    font-size: 0.95rem;
}
.menu, li, a:hover{
    color:#fff
}
.hero{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 5rem 3rem;
    max-width: 1200px;
    margin: 0 auto;
}
.hero-content{
    max-width: 550px;
}
.hero-content, h1{
    font-size: 2.8rem;
    font-weight: 600;
    margin-bottom: 1.2rem;
    line-height: 1.2;
}
.hero-content, p{
    font-size: 1.1rem;
    color: #ccc;
    margin-bottom: 2rem;
}
.buttons{
    display: flex;
    gap: 1rem;
}
.btn{
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
    transition: background-color 0.3s ease;
}
.primary{
    background-color: #ffffff;
    color: #0e0e10;
}
.primary:hover{
    background-color: #dcdcdc;
}
.secondary{
    background-color: transparent;
    border: 1px solid #555;
    color: #ccc;
}
.secondary:hover{
    border-color: #888;
    color: #fff;
}
.hero-image img{
    max-width: 500px;
    width: 100%;
    margin-top: 2rem;
}
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,
    minmax(280px, 1fr));
    gap: 2rem;
}
.card{
    background-color: #111;
    padding: 2rem;
    border-radius: 1rem;
    border: 1px solid #1f1f1f;
}
.card:hover{
    background: traslateY(-5px);
    box-shadow: 0 4px 15px rgba;
}